# Habilitar la reescritura de URLs
<IfModule mod_rewrite.c>
  RewriteEngine On

  # Verifica que el archivo .html exista antes de redirigir
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^([^\.]+)$ $1.html [L]
</IfModule>

# Redirigir 404 a 404.html
ErrorDocument 404 /404.html
